.help-block{
  font-size: 9pt;
  color: teal;
}

h1 {
  font-family: arial, 'sans-serif';
  font-size: 18px;
  font-weight: bold;
  color: green;
}

h2 {
  font-family: arial, 'sans-serif';
  font-size: 14px;
  font-weight: bold;
  color: green;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  font-style: normal; 
}

h4 {
  font-size: 14px;
  font-weight: normal;
}

label { 
  font-size: 12px;
  font-weight: bold;
  font-style: normal; 
}

input[type=select] {
  height: 25px;
  width: 90px;
}

hr {
  border-color: black;
}

p {
  max-width: 700px;
}

table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px;
}
tr {
    max-height: 28px;
}

/* Target the disabled tab link */
.nav li a.disabled {
    /* Set the background color to a light gray */
    background-color: #eee !important;

    /* Set the text color to a lighter gray */
    color: #aaa !important;

    /* Change the cursor to indicate it's not clickable */
    cursor: not-allowed !important;

    /* Set a subtle border color */
    border-color: #aaa !important;
}

.shiny-notification{
  font-size: 12px;
  color: blue;
  width:20%;
  max-width:20%;
  position: fixed;
  left: calc(80%);
  top: calc(95%);
}

#GAprint{
color: blue;
font-size: 10px;
height:30px;
margin-left: 20px;
margin-right: 20px;
}

#GAmsgprint{
color: red;
font-size: 10px;
height:22px;
margin-left: 10px;
margin-right: 10px;
}

#nrmPrint{
  color: black; 
  font-size: 14px; 
  min-height: 170px; 
  max-height: 250px; 
  background: ghostwhite;
}

#ntrapPrint{
  color: black; 
  overflow-y: scroll; 
  font-size: 14px; 
  min-height: 40px; 
  max-height: 60px; 
  background: ghostwhite;
}

#logPrint{
  color: black; 
  font-size: 11px; 
  overflow-y: scroll; 
  min-height: 250px; 
  max-height: 320px; 
  background: ghostwhite;
}

.mypanel{
margin-top:8px; 
margin-bottom:10px; 
margin-left:5px;
padding-top:10px; 
padding-bottom: 5px; 
padding-left: 10px; 
padding-right: 12px; 
border: 5px solid gray; 
border-width: thin;
}

.checkbox{
padding-top:1px; 
padding-bottom:1px; 
margin-top:1px;
margin-bottom:1px;
}

.action-button{
margin-left:6px;
background-color: CornSilk;
}

.shiny-input-container{
margin-left:6px;
margin-right:6px;
}

.number{
width:120px;
}